<div class="d-flex justify-content-center align-items-center">
    <div class="card rounded-circle d-flex justify-content-center align-items-center mt-3">
        <div class="card-body d-flex justify-content-center align-items-center">
            <%= image_tag("favicon.ico" , style: "width: 40px;") %>
        </div>
    </div>
</div>
<div class="text-center font-weight-bold">
    Say Something
</div>

<div class="container mt-2 mb-4">
  <div class="row">
    <div class="col-sm-8 border mr-4 box-shadow pb-2 p-1">
        <div class="d-flex flex-column justify-content-between h-100">
            <div class="message-container p-3" id= "message-container">
                <%= render @messages %> 
            </div>
            <%= form_for( @message, html: {class: "form-inline ui replay form", role: "form"}, url: message_path) do |f| %>            
                <div class="form-group col-sm-11 p-0">
                    <%= f.text_field :body, placeholder: "Type your message here", class: "form-control col-sm-12" %>                    
                </div>
                <%= f.button "Send", class: "btn btn-primary col-sm-1" %>          
            <% end %>            
        </div>
    </div>
    <div class="col-sm-3 card text-primary box-shadow">
        <ul class="list-group card-body float-left" >
            <li class="list-group-item active " aria-current="true">Home</li>
            <li class="list-group-item bg-dark">Messages</li>
            <li class="list-group-item bg-dark">Friends</li>
        </ul>
    </div>
  </div>
</div>